@use "../global/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 15px;

    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  &__legend {
    padding: 0 10px;

    font-size: 24px;
    font-weight: 600;
    text-wrap: nowrap;

    @media (max-width: var.$tablet-max-width) {
      font-size: 22px;
    }
    @media (max-width: var.$mobile-mid-width) {
      font-size: 20px;
    }
  }

  &__label {
    display: flex;
    gap: 10px;
    width: max-content;

    font-size: 18px;
    text-wrap: nowrap;

    @media (max-width: var.$tablet-max-width) {
      font-size: 16px;
    }
    @media (max-width: var.$mobile-mid-width) {
      font-size: 14px;
    }

    &--radio {
      align-items: center;

      cursor: pointer;
    }

    &--range {
      flex-direction: column;
      gap: 35px;
    }
  }

  &__svg {
    flex-shrink: 0;
    width: 60px;
    height: 60px;

    @media (max-width: var.$tablet-max-width) {
      width: 50px;
      height: 50px;
    }
    @media (max-width: var.$mobile-mid-width) {
      width: 40px;
      height: 40px;
    }
  }

  &__range-wrapper {
    position: relative;

    display: grid;
    grid-template-columns: 25px auto 25px;
    gap: 5px;
    width: 100%;
  }

  &__input {
    display: flex;

    font-size: 16px;

    background-color: var.$colorWhite;
    border: none;

    border-radius: 5px;

    @media (max-width: var.$tablet-max-width) {
      font-size: 14px;
    }
    @media (max-width: var.$mobile-mid-width) {
      font-size: 12px;
    }

    &--range {
      min-width: 450px;

      @media (max-width: var.$desktop-mid-width) {
        min-width: 350px;
      }
      @media (max-width: var.$tablet-max-width) {
        min-width: 250px;
      }
      @media (max-width: var.$mobile-max-width) {
        min-width: calc(100vw - 86px);
      }
    }

    &--file {
      display: none;
    }
  }
}
