@use "../global/variables" as var;

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    max-width: var.$desktop-mid-width;
    margin: 0 auto;
    padding: 10px 100px;

    @media (max-width: var.$desktop-mid-width) {
      gap: 30px;
      padding: 10px 80px;
    }
    @media (max-width: var.$tablet-max-width) {
      padding: 10px 40px;
    }
    @media (max-width: var.$mobile-max-width) {
      padding: 10px 20px;
    }
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: auto;

    transition: opacity 0.4s ease-in-out;
  }

  &__logo-image {
    width: 110px;
    height: 50px;

    fill: var.$colorBlackTwo;

    @media (max-width: var.$tablet-max-width) {
      width: 90px;
      height: 40px;
    }
  }

  &__logo-text {
    font-size: 28px;
    font-weight: 500;

    @media (max-width: var.$tablet-max-width) {
      font-size: 22px;
    }
    @media (max-width: var.$mobile-mid-width) {
      display: none;
    }
  }

  &__badge {
    transition: opacity 0.4s ease-in-out;

    &:hover,
    &:active {
      opacity: 0.6;
    }
  }

  &__lang-switcher {
    display: block;

    font-size: 20px;
    color: var.$colorBlackTwo;

    transition: opacity 0.4s ease-in-out;

    &:hover,
    &:active {
      opacity: 0.6;
    }

    @media (max-width: var.$desktop-mid-width) {
      font-size: 18px;
    }
  }
}
