@keyframes cookieShow {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes twinkle {
  0%, 20%, 40%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.3);
  }
}

@keyframes flyby {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
